.container {
    margin-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.container_table {
  /* min-height: 100vh; */
  padding: 15px;
  width: 100%;
  /* background: var(--bgtotal); Para usar con una variable de CSS personalizada */
  /* color: var(--text);  Para usar con una variable de CSS personalizada */
  display: grid;
  grid-template-areas: 
    "header"
    "area1"
    "area2"
    "main";
  grid-template-rows: 100px 100px 60px auto;
}


/* headers de pages product, category others*/
.header_page{
    display: flex; 
    gap: 20px;
    flex-direction: column;
}

@media (min-width: 1024px) /* and (max-width: 1200px) */ {
    .header_page{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }    
}


/* Estilos para formulario */
.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container_selector{
    display:flex;
    margin-bottom: 15px;
    gap:10px;
}

.container_button{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}




@media (max-width: 600px) {
  .container_selector{
    flex-direction: column;
  }
}